.images-grid {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-wrap {
  cursor: pointer;
  opacity: 0.7;
  animation: image-wrap 2s ease-in;
  width: 33.3%;
  padding: 30px 10px;
}

.image-wrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  animation: image 3s ease-in;
}
