@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
:root {
  --black: #292a31;
  --yellow: #ffb700;
  --orange: #ff4b03;
  --blue: #4871ff;
  --white: #dee0e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--black);
  color: var(--white);
}
